<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
        <link rel="stylesheet" href="/css/problemSolve.css">
        <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
        <script src="https://codemirror.net/lib/codemirror.js"></script>
        <script src="https://codemirror.net/mode/python/python.js"></script> 
    </head>
    <body>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo"><h2>문제</h2></div>
                <div class="container">
                    <div class="content-header"><h3>
                        <%= JSON.stringify(dataSet.title) %>
                        <%= JSON.stringify(dataSet.cleareCount) %>
                    </h3></div>
                    <div class="content">
                        <%- dataSet.content.replace(/\n/g, '<br>') %>
                    </div>
                    <div class="explain">
                        <h4>입력 설명</h4>
                        <%= JSON.stringify(dataSet.inputExplain) %>
                        <h4>출력 설명</h4>
                        <%= JSON.stringify(dataSet.outputExplain) %>
                    </div>
                    <div class="sample">
                        <h4>입력 예제</h4>
                        <%= JSON.stringify(dataSet.sampleInput1) %>
                        <h4>출력 예제</h4>
                        <%= JSON.stringify(dataSet.sampleOutput1) %>
                    </div>

                    <form class="form-box" action="/problemSumit" method="POST">
                        <h4>문제 답란</h4>
                        <button type="submit">전송</button>
                        <textarea id="code" name="code"></textarea>
                    </form>
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>

        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                lineNumbers: true,
                mode: "python",  // 다른 언어도 지원
                theme: "default",  // 다양한 테마 지원
            });
        </script>
    </body>
</html>