<!DOCTYPE html>
<html>
    <head>
        <title>ALZalz | problem</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
        <link rel="stylesheet" href="/css/problemSolve.css">
    </head>
    <body>
        <style>
            .container {
                padding: 4%;
            }

            .content-header h3{
                color: black;
                display: flex;
                justify-content: space-between;
            }
            
        </style>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
            </div>
            <div class="main">
                <div class="jumbo"><h2>문제</h2></div>
                <div class="container">
                    <div class="content-header"><h3>
                        <p><%= JSON.stringify(dataSet.title) %></p>
                        <p><%= JSON.stringify(dataSet.clearCount) %> 명이 정답을 맞춤</p>
                    </h3></div>
                    <div class="content">
                        <%- dataSet.content.replace(/\n/g, '<br>') %>
                    </div>
                    <div class="explain">
                        <div>
                            <h4>입력 설명</h4>
                            <%= JSON.stringify(dataSet.inputExplain) %>
                        </div>
                        <div>
                            <h4>출력 설명</h4>
                            <%= JSON.stringify(dataSet.outputExplain) %>
                        </div>
                    </div>
                    <div class="sample">
                        <div>
                            <h4>입력 예제</h4>
                            <%= JSON.stringify(dataSet.sampleInput) %>
                        </div>
                        <div>
                            <h4>출력 예제</h4>
                            <%= JSON.stringify(dataSet.sampleOutput) %>
                        </div>
                    </div>

                    <form class="form-box" action="/problemSumit" method="POST">
                        <h4>문제 답란</h4>
                        
                        <textarea id="code" name="code"rows="10" onkeydown="preventSubmit(event)" style="width: 100%;"></textarea>
                        <input name="id" value="<%= userData._id %>" style="display: none;">
                        <input name="problemId" value="<%= dataSet._id %>" style="display: none;">
                        <button type="submit">전송</button>
                    </form>
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>