<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
        <link rel="stylesheet" href="/css/problem.css">
    </head>
    <body>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo"><h2>문제 리스트</h2></div>
                <div class="container">
                    <ul class="problemList">
                        <% for(let i=0; i<dataSet.length; i++) { %>
                            <li class="list-box"><a href="/problem/<%= dataSet[i]._id %>">
                                <%= JSON.stringify(dataSet[i].number) %>
                                <%= JSON.stringify(dataSet[i].title) %>
                            </a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>